.container-fluid {
    background-color: #54d158;
    color: white;
    padding: 0px 3px 3px 0px;
    font-family: 'Akaya Telivigala', cursive;
}

.Method {
    padding: 2%;
}

.icon:hover {
    color: green;
}

.navbar.navbar-expand-lg.navbar-light {
    color: #ffff;
}

.nav-item {
    padding: 0 15px;
    color: white;
}

.my {
    font-size: 1rem;
    color: white;
}

.my:hover {
    color: black;
}

.navbar-link {
    font-size: 1.2rem;
    font-family: monospace;
    color: white;
}

.dropdown {
    margin-top: 10px;
}

.navbar-brand {
    font-size: 2.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    padding-top: 0%;
    padding-left: 25px;
    padding-bottom: 0%;
}

a {
    color: blue;
    margin: 10px 20px 20px 20px;
    text-decoration: none;
}

a:hover {
    color: rgb(3, 5, 0);
}

.btn {
    color: white;
    font-size: 1rem;
    font-family: 'Montserrat';
}

.container-fluid1 {
    background-color: #54d158;
    color: white;
    padding: 0px 3px 3px 0px;
}

.my {
    font-size: 1rem;
    color: white;
    font-family: 'Montserrat';
}

.images {
    position: relative;
    left: 100px;
    right: 100px;
    text-align: center;
}

.Heading {
    padding: 2% 2% 2% 2%;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 5rem;
    color: brown;
}

.Head2 {
    padding: 2% 2% 2% 2%;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 5rem;
    color: rgb(255, 51, 119);
}

.Head3 {
    padding: 2% 2% 2% 2%;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 5rem;
    color: green;
}

.Head4 {
    padding: 2% 2% 2% 2%;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 5rem;
    color: rgb(233, 155, 38);
}

h1 {
    position: relative;
    text-align: center;
}

h2 {
    position: relative;
    text-align: center;
}

.imggirl {
    position: absolute;
    top: 40%;
    bottom: 20%;
    left: 75%;
    text-align: center;
}

.chicken {
    position: absolute;
    top: 40%;
    bottom: 20%;
    left: 75%;
    text-align: center;
}

.din1 {
    padding: 2% 2% 2% 2%;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 5rem;
    color: rgb(233, 67, 17);
}

.din2 {
    padding: 2% 2% 2% 2%;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 5rem;
    color: rgb(212, 16, 42);
}

.din3 {
    padding: 2% 2% 2% 2%;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 5rem;
    color: rgb(213, 243, 41);
}

.din4 {
    padding: 2% 2% 2% 2%;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 5rem;
    color: rgb(242, 234, 245);
}

.samosa {
    padding: 2% 2% 2% 2%;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 5rem;
    color: rgb(9, 151, 4);
}

.b1 {
    padding: 2% 2% 2% 0%;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 5rem;
    color: rgb(212, 16, 42);
}

.b2 {
    padding: 2% 2% 2% 2%;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 5rem;
    color: rgb(128, 7, 63);
}

.b3 {
    padding: 2% 2% 2% 2%;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 5rem;
    color: rgb(116, 59, 18)
}

.b4 {
    padding: 2% 2% 2% 2%;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 5rem;
    color: rgb(7, 48, 110)
}

.L1 {
    padding: 2% 2% 2% 2%;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 5rem;
    color: rgb(212, 16, 107);
}

.L2 {
    padding: 2% 2% 2% 2%;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 5rem;
    color: rgb(14, 71, 156)
}

.L3 {
    padding: 2% 2% 2% 2%;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 5rem;
    color: rgb(170, 19, 89);
}

.L4 {
    padding: 2% 2% 2% 2%;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 5rem;
    color: rgb(233, 67, 17);
}

.p3head {
    padding: 2% 2% 2% 2%;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 5rem;
    color: rgb(209, 4, 124);
}

.p4head {
    padding: 2% 2% 2% 2%;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 5rem;
    color: rgb(233, 67, 17);
}

.pav {
    padding: 2% 2% 2% 2%;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 5rem;
    text-align: center;
    color: rgb(235, 46, 46);
}

.South {
    padding: 2% 2% 2% 2%;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 5rem;
    text-align: center;
    color: rgb(233, 67, 17);
}

.Method {
    position: relative;
    top: 35px;
    font-family: 'Akaya Telivigala', cursive;
}

.Methodnight {
    position: relative;
    top: 50px;
    font-family: 'Akaya Telivigala', cursive;
}

.Steps {
    text-align: left;
    position: absolute;
    left: 40px;
    font-size: 1.2rem;
    padding: 5%, 5%, 5%;
}

.Stepsmore {
    position: absolute;
    left: 40px;
    font-size: 1.2rem;
    text-align: left;
    padding: 3%, 3%, 3%;
}

.Stepsmore1 {
    text-align: left;
    position: absolute;
    left: 40px;
    font-size: 1.2rem;
    padding: 5%;
}

.Healthy {
    position: absolute;
    top: 50%;
    bottom: 20%;
    left: 80%;
    text-align: center;
}

.ingred {
    position: relative;
    left: 200px;
    text-align: left;
    font-family: 'Akaya Telivigala', cursive;
}

.Ingredintsbubble {
    position: relative;
    bottom: 300px;
    left: 600px;
    font-size: 1.2rem;
}

.Ingredints {
    position: relative;
    bottom: 400px;
    left: 600px;
    font-size: 1.2rem;
}

.Ingredints_pot {
    position: relative;
    bottom: 400px;
    left: 600px;
    font-size: 1.2rem;
}

.area {
    position: relative;
    top: 80px;
    left: 400px;
    padding: 3%;
}

.container {
    margin-top: 15px;
}

.margin-bottom {
    margin-bottom: 150px;
}

.comment {
    display: block;
    transition: all 1s;
}

.commentClicked {
    min-height: 0px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px 10px
}

textarea {
    width: 100%;
    border: none;
    background: #E8E8E8;
    padding: 5px 10px;
    height: 50%;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 2px solid #016BA8;
    transition: all 0.5s;
    margin-top: 15px;
}

button.primaryContained {
    background: #016ba8;
    color: #fff;
    padding: 10px 10px;
    border: none;
    margin-top: 0px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 4px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    transition: 1s all;
    font-size: 10px;
    border-radius: 5px;
}

button.primaryContained:hover {
    background: #9201A8;
}